@{
    ViewData["Title"] = "Početna stranica";
}

<div class="jumbotron" style="margin-top:20px;">
    <h1>Student Servis Poslovi</h1>
    <p>Student si? Želiš raditi preko Student Servisa? Super!</p>
    <p>Student Servis oglase objavljuje online na njihovoj web-stranici i na oglasnoj ploči ispred njihovog ureda. Oglasna ploča nije uvijek ažurna, a oglasi na web-stranici se objavljuju više puta dnevno, u različitim vremenima.</p>
    <p>Želiš uvijek biti informiran i uhvatiti najbolje poslove s najvišom satnicom? Na pravom si mjestu!</p>
    <p><strong>Student Servis Web Scraper</strong> je sustav koji pruža način za jednostavno pretraživanje poslova i primanje obavijesti ukoliko se pojavi novi oglas koji odgovara pretrazi. Može se koristiti putem ove web-stranice ili pomoću mobilne aplikacije - dostupna za Android i iOS.</p>
    <hr />
    <p>Pretraži poslove <a asp-action="Jobs">ovdje</a>, ili preuzmi aplikaciju putem linkova:</p>
    <button class="btn btn-primary btn-lg">iOS</button>
    <button class="btn btn-success btn-lg">Android</button>
</div>