@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="mt-5">Student Servis Web Scraper API</h1>
        <p class="lead">Početna stranica</p>
        <ul class="list-unstyled">
            <li><a href="hangfire">Idi na Hangfire dashboard</a></li>
            <li><a href="api/jobs">Svi poslovi</a></li>
            <li><a href="api/jobs/categories">Sve kategorije</a></li>
            <li><a href="api/jobs/filter?categoryId=7&minHourlyPay=30">Svi fizički poslovi s satnicom višom od 30kn</a></li>
        </ul>
    </div>
</div>
